.metadata/*
**/*.class
Scala/.project
Scala/.pydevproject
Java/.cache-main
Java/.classpath
Java/bin/**
Java/.project
Java/.settings/org.eclipse.jdt.core.prefs
Java/.pmd
Java/libs/j2ee.jar
Java/libs/org.apache.commons.io.jar
/bin/
